@charset "ISO-8859-1";

*{
    background-color: #85d49a;
}

h1{
    font-size: 72px;
    text-align: center;
}

h2{
    font-size: 36px;
    text-align: center;
}


.image{
	border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 90%;
    margin: 60px;
}